@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
position: absolute;
width: 1200px;
height: 505px;
border: 0px solid;
background-color: skyblue;
transition: background-color 2s linear;
cursor: pointer;
}
#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
#canvas2 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 55px;
    left: 55px; 
}
#restartBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 70%;
    transform: translate(-50%, -50%);
    background-image: url("./images/rstrt\ btn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: gray;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    z-index: 10;
    visibility: hidden;
    transition: visibility 1s ease;
}
#restartBtn:active {
    background-color: lightgray;
}
#score {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 7;
    font-size: 25px;
    transition: color 2s linear;
    font-family: 'Pixelify Sans', sans-serif;
}
#hiScore {
    position: absolute;
    top: 5%;
    right: 20%;
    z-index: 7;
    font-size: 25px;
    transition: color 2s linear;
    font-family: 'Pixelify Sans', sans-serif;
}
#gameOver {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 800;
    visibility: hidden;
}

.jump {
    animation: jumping 800ms ease-in-out forwards;
}
.cactiMove {
    animation: cactusmove 6s linear forwards infinite;
}

@keyframes jumping {
    0%, 100% {
        bottom: 55px;
    }
    50% {
        bottom: 240px;
    }
}
@keyframes cactusmove {
    0% {
        right: -12%;
    }
    33.33%, 100% {
        right: 100%;
    }
}
@media (min-width: 320px) and (max-width: 900px) {
.container {
    width: 400px;
    height: 170px;
    overflow: hidden;
}
#restartBtn {
    width: 100%;
    height: 170px;
    background-size: 40px;
}
#canvas2 {
    width: 50px;
    height: 50px;
}
#score, #hiScore {
    font-size: 15px;
}
#gameOver {
    font-size: 20px;
}
#canvas2 {
    bottom: 14px;
    left: 10px;
}
@keyframes jumping {
    0%, 100% {
        bottom: 20px;
    }
    50% {
        bottom: 120px;
    }
}
}